# Combining data to include income classification with causes of death

## Contents List:

#### 1. Import Libraries and Data
#### 2. Merge Data
#### 3. Data Cleaning
#### 4. Export Data

## 1. Import Libraries and Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import cause_of_deaths_raw_data.csv

path = r'C:\Users\susan\OneDrive\Desktop\Data Analytics Program\Causes_of_Death_Worldwide_Analysis_Susan_Lee'

df_deaths_raw = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'cause_of_deaths_raw_data.csv'), index_col = False)

In [3]:
# Set the max columns and rows to none

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
# Check top five rows

df_deaths_raw.head()

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816

In [5]:
# Check dimensions

df_deaths_raw.shape

(6120, 34)

In [6]:
# Import classification_by_income.csv

df_income = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', 'classification_by_income.xlsx'), index_col = False)

In [7]:
# Check top five rows

df_income.head()

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN

In [8]:
# Check dimensions

df_income.shape

(267, 5)

## 2. Merge Data

In [9]:
# Merge df_deaths_raw with df_income

df_merged = df_deaths_raw.merge(df_income, on = 'Code', indicator = True)

In [10]:
# Check top five rows

df_merged.head()

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Economy,Region,Income group,Lending category,_merge
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,Afghanistan,South Asia,Low income,IDA,both
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,Afghanistan,South Asia,Low income,IDA,both
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,Afghanistan,South Asia,Low income,IDA,both
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,Afghanistan,South Asia,Low income,IDA,both
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,Afghanistan,South Asia,Low income,IDA,both

In [11]:
df_merged['_merge'].value_counts()

both          6030
left_only        0
right_only       0
Name: _merge, dtype: int64

In [12]:
df_merged.shape

(6030, 39)

### 90 rows from df_deaths_raw were not merged. Find out which countries/territories were left out and why.

In [13]:
# Perform left merge

df_merged_left = df_deaths_raw.merge(df_income, how = "left", on = 'Code', indicator = True)

In [14]:
df_merged_left.shape

(6120, 39)

In [15]:
df_merged_left['_merge'].value_counts()

both          6030
left_only       90
right_only       0
Name: _merge, dtype: int64

In [16]:
df_merged_left.loc[df_merged_left['_merge'] == 'left_only']

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Economy,Region,Income group,Lending category,_merge
1230,Cook Islands,COK,1990,0,2,1,0,0,1,0,0,0,0,1,42,11,4,0,3,1,1,0,19,0,14,3,0,0,6,8,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1231,Cook Islands,COK,1991,0,2,1,0,0,1,0,0,0,0,1,42,11,3,0,3,0,1,0,19,0,15,3,0,0,6,8,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1232,Cook Islands,COK,1992,0,2,1,0,0,1,0,0,0,0,1,42,10,3,0,3,0,1,0,19,0,15,3,0,0,6,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1233,Cook Islands,COK,1993,0,2,1,0,0,1,0,0,0,0,0,42,10,3,0,3,0,1,0,20,0,16,3,0,0,6,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1234,Cook Islands,COK,1994,0,2,1,0,0,1,0,0,0,0,0,42,10,3,0,3,0,1,0,20,0,16,3,0,0,6,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1235,Cook Islands,COK,1995,0,2,1,0,0,1,0,0,0,0,0,42,10,2,0,3,0,1,0,20,0,16,3,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1236,Cook Islands,COK,1996,0,2,1,0,0,1,0,0,0,0,0,42,10,2,0,3,0,1,0,20,0,17,3,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1237,Cook Islands,COK,1997,0,2,1,0,0,1,0,0,0,0,0,42,9,2,0,3,19,1,0,20,0,17,3,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1238,Cook Islands,COK,1998,0,2,1,0,0,1,0,0,0,0,0,43,9,2,0,3,0,1,0,21,0,18,3,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1239,Cook Islands,COK,1999,0,2,1,0,0,1,0,0,0,0,0,43,9,2,0,2,0,1,0,21,0,19,3,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1240,Cook Islands,COK,2000,0,2,1,0,0,1,0,0,0,0,0,44,9,2,0,2,0,1,0,21,0,19,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1241,Cook Islands,COK,2001,0,2,1,0,0,1,0,0,0,0,0,43,9,2,0,2,0,1,0,22,0,20,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1242,Cook Islands,COK,2002,0,2,1,0,0,1,0,0,0,0,0,43,9,2,0,2,0,1,0,22,0,20,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1243,Cook Islands,COK,2003,0,3,1,0,0,1,0,0,0,0,0,43,9,1,0,2,0,1,0,23,0,21,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1244,Cook Islands,COK,2004,0,3,1,0,0,1,0,0,0,0,0,43,8,1,0,2,0,1,0,23,0,22,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1245,Cook Islands,COK,2005,0,3,1,0,0,1,0,0,0,0,0,43,8,1,0,2,0,1,0,23,0,22,4,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1246,Cook Islands,COK,2006,0,3,1,0,0,1,0,0,1,0,0,44,8,1,0,2,0,1,0,24,0,22,5,0,0,5,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1247,Cook Islands,COK,2007,0,3,1,0,0,1,0,0,1,0,0,44,8,1,0,2,0,1,0,24,0,22,5,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1248,Cook Islands,COK,2008,0,3,1,0,0,1,0,0,1,0,0,44,8,1,0,2,0,1,0,25,0,22,5,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1249,Cook Islands,COK,2009,0,3,1,0,0,1,0,0,1,0,0,45,8,1,0,2,0,1,0,25,0,22,5,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1250,Cook Islands,COK,2010,0,3,1,0,0,1,0,0,1,0,0,47,8,1,0,2,0,1,0,26,0,22,5,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1251,Cook Islands,COK,2011,0,3,1,0,0,1,0,0,1,0,0,49,8,0,0,2,0,1,0,26,0,23,5,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1252,Cook Islands,COK,2012,0,4,1,0,0,1,0,0,1,0,0,50,8,0,0,2,0,1,0,27,0,23,6,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1253,Cook Islands,COK,2013,0,4,1,0,0,1,0,0,1,0,0,52,9,0,0,2,0,1,0,28,0,23,6,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1254,Cook Islands,COK,2014,0,4,1,0,0,1,0,0,1,0,0,53,9,0,0,2,0,1,0,28,0,23,6,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1255,Cook Islands,COK,2015,0,4,1,0,0,1,0,0,1,0,0,54,9,0,0,2,0,1,0,29,0,24,6,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1256,Cook Islands,COK,2016,0,4,2,0,0,1,0,0,1,0,0,56,9,0,0,2,0,1,0,30,0,25,7,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1257,Cook Islands,COK,2017,0,4,2,0,0,1,0,0,1,0,0,57,9,0,0,2,0,1,0,31,0,26,7,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1258,Cook Islands,COK,2018,0,4,2,0,0,1,0,0,2,0,0,58,10,0,0,2,0,1,0,31,0,26,7,0,0,4,7,2,4,0,0,NaN,NaN,NaN,NaN,left_only
1259,Cook Islands,COK,2019,0,4,2,0,0,1,0,0,2,0,0,58,10,0,0,2,0,1,0,32,0,27,7,0,0,4,8,2,5,0,0,NaN,NaN,NaN,NaN,left_only
3900,Niue,NIU,1990,0,1,0,0,0,0,0,0,0,0,0,10,1,1,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3901,Niue,NIU,1991,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3902,Niue,NIU,1992,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3903,Niue,NIU,1993,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3904,Niue,NIU,1994,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3905,Niue,NIU,1995,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3906,Niue,NIU,1996,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3907,Niue,NIU,1997,0,1,0,0,0,0,0,0,0,0,0,10,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3908,Niue,NIU,1998,0,1,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,1,1,0,0,NaN,NaN,NaN,NaN,left_only
3909,Niue,NIU,1999,0,1,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,2,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3910,Niue,NIU,2000,0,1,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,3,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3911,Niue,NIU,2001,0,1,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,3,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3912,Niue,NIU,2002,0,0,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,3,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3913,Niue,NIU,2003,0,0,0,0,0,0,0,0,0,0,0,9,1,0,0,0,0,0,0,3,0,3,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3914,Niue,NIU,2004,0,0,0,0,0,0,0,0,0,0,0,9,1,0,0,0,1,0,0,3,0,3,1,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3915,Niue,NIU,2005,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3916,Niue,NIU,2006,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3917,Niue,NIU,2007,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3918,Niue,NIU,2008,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3919,Niue,NIU,2009,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3920,Niue,NIU,2010,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3921,Niue,NIU,2011,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3922,Niue,NIU,2012,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3923,Niue,NIU,2013,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3924,Niue,NIU,2014,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3925,Niue,NIU,2015,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3926,Niue,NIU,2016,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3927,Niue,NIU,2017,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3928,Niue,NIU,2018,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
3929,Niue,NIU,2019,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0,0,3,0,3,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5490,Tokelau,TKL,1990,0,0,0,0,0,0,0,0,0,0,0,5,1,1,0,0,0,0,0,2,0,1,0,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5491,Tokelau,TKL,1991,0,0,0,0,0,0,0,0,0,0,0,5,1,1,0,0,0,0,0,2,0,1,0,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5492,Tokelau,TKL,1992,0,0,0,0,0,0,0,0,0,0,0,5,1,1,0,0,0,0,0,2,0,1,0,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5493,Tokelau,TKL,1993,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,2,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5494,Tokelau,TKL,1994,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5495,Tokelau,TKL,1995,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5496,Tokelau,TKL,1996,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5497,Tokelau,TKL,1997,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5498,Tokelau,TKL,1998,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5499,Tokelau,TKL,1999,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5500,Tokelau,TKL,2000,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5501,Tokelau,TKL,2001,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5502,Tokelau,TKL,2002,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,1,0,0,0,1,0,1,0,0,NaN,NaN,NaN,NaN,left_only
5503,Tokelau,TKL,2003,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,1,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5504,Tokelau,TKL,2004,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,2,0,1,1,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5505,Tokelau,TKL,2005,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5506,Tokelau,TKL,2006,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5507,Tokelau,TKL,2007,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5508,Tokelau,TKL,2008,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5509,Tokelau,TKL,2009,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5510,Tokelau,TKL,2010,0,0,0,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5511,Tokelau,TKL,2011,0,0,0,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5512,Tokelau,TKL,2012,0,0,0,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5513,Tokelau,TKL,2013,0,0,0,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5514,Tokelau,TKL,2014,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5515,Tokelau,TKL,2015,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5516,Tokelau,TKL,2016,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5517,Tokelau,TKL,2017,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5518,Tokelau,TKL,2018,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,2,0,1,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only
5519,Tokelau,TKL,2019,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,2,0,1,1,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,left_only

### There were 3 countries/territories left out from the inner merge. They are Cook Islands, Niue, and Tokelau. This is because they each have populations of less than 30,000.

### Since small population size can lead to skewed data, the remainder of the analysis will leave out these 3 countries.

## 3. Data Cleaning

### Remove unecessary columns

In [17]:
df_merged.head()

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Economy,Region,Income group,Lending category,_merge
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,Afghanistan,South Asia,Low income,IDA,both
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,Afghanistan,South Asia,Low income,IDA,both
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,Afghanistan,South Asia,Low income,IDA,both
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,Afghanistan,South Asia,Low income,IDA,both
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,Afghanistan,South Asia,Low income,IDA,both

In [18]:
df_merged.shape

(6030, 39)

In [19]:
# Drop unnecessary columns

df_merged.drop(['Economy', 'Lending category'], axis = 1, inplace = True)

In [20]:
# Check that columns have been removed from dataframe

df_merged.head()

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Region,Income group,_merge
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,South Asia,Low income,both
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,South Asia,Low income,both
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,South Asia,Low income,both
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,South Asia,Low income,both
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,South Asia,Low income,both

In [21]:
# Check shape

df_merged.shape

(6030, 37)

### Missing Values Check:

In [22]:
# Check for missing values

df_merged.isnull().sum()

Country/Territory                              0
Code                                           0
Year                                           0
Meningitis                                     0
Alzheimer's Disease and Other Dementias        0
Parkinson's Disease                            0
Nutritional Deficiencies                       0
Malaria                                        0
Drowning                                       0
Interpersonal Violence                         0
Maternal Disorders                             0
HIV/AIDS                                       0
Drug Use Disorders                             0
Tuberculosis                                   0
Cardiovascular Diseases                        0
Lower Respiratory Infections                   0
Neonatal Disorders                             0
Alcohol Use Disorders                          0
Self-harm                                      0
Exposure to Forces of Nature                   0
Diarrheal Diseases                             0
Environmental Heat and Cold Exposure           0
Neoplasms                                      0
Conflict and Terrorism                         0
Diabetes Mellitus                              0
Chronic Kidney Disease                         0
Poisonings                                     0
Protein-Energy Malnutrition                    0
Road Injuries                                  0
Chronic Respiratory Diseases                   0
Cirrhosis and Other Chronic Liver Diseases     0
Digestive Diseases                             0
Fire, Heat, and Hot Substances                 0
Acute Hepatitis                                0
Region                                         0
Income group                                  30
_merge                                         0
dtype: int64

### Income group has 30 missing values. Find out for which country/territory.

In [23]:
df_merged[df_merged['Income group'].isnull()]

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Region,Income group,_merge
5880,Venezuela,VEN,1990,666,1629,282,815,151,931,2840,398,655,22,1050,25991,4104,7142,232,1054,0,3573,7,12533,64,3086,1548,91,759,5105,2046,2124,4058,146,118,Latin America & Caribbean,NaN,both
5881,Venezuela,VEN,1991,565,1719,296,727,109,875,3249,392,598,24,1021,26930,3713,5831,241,1147,0,2984,7,13007,77,3292,1703,85,674,5208,2108,2186,4081,141,104,Latin America & Caribbean,NaN,both
5882,Venezuela,VEN,1992,560,1823,312,779,72,890,3572,365,786,26,952,27673,3775,5878,263,1252,0,3091,7,13588,230,3503,1863,87,724,5365,2192,2251,4153,144,98,Latin America & Caribbean,NaN,both
5883,Venezuela,VEN,1993,575,1942,341,878,51,911,4137,372,907,27,924,28655,3889,6058,269,1384,100,3163,7,14054,79,3627,2045,91,819,5563,2328,2288,4223,150,91,Latin America & Caribbean,NaN,both
5884,Venezuela,VEN,1994,595,2063,382,1017,52,945,4762,418,1089,29,942,30586,4093,6479,264,1547,44,3426,8,14884,234,3867,2314,98,950,5739,2552,2361,4389,157,79,Latin America & Caribbean,NaN,both
5885,Venezuela,VEN,1995,579,2159,401,1104,53,903,4708,370,942,31,906,30719,3993,6493,244,1667,0,3281,8,15118,36,3909,2642,99,1031,5614,2731,2365,4408,154,58,Latin America & Caribbean,NaN,both
5886,Venezuela,VEN,1996,542,2249,401,1167,53,821,4589,354,1025,32,868,30061,3713,6234,226,1717,9,3154,8,15123,46,3851,2926,99,1088,5167,2817,2302,4305,145,42,Latin America & Caribbean,NaN,both
5887,Venezuela,VEN,1997,489,2376,410,1114,53,738,4319,348,1233,32,820,29523,3510,5828,216,1720,96,2873,8,15174,6,3841,3158,89,1041,4937,2899,2243,4195,142,35,Latin America & Caribbean,NaN,both
5888,Venezuela,VEN,1998,465,2536,439,1127,66,744,4808,310,1278,33,830,30766,3549,5699,219,1882,36,2693,8,15872,10,4030,3511,91,1055,5191,3162,2378,4422,151,33,Latin America & Caribbean,NaN,both
5889,Venezuela,VEN,1999,438,2685,460,1064,51,719,5991,343,1397,33,823,31481,3408,5237,209,1976,30342,2408,8,16382,26,4232,3826,88,996,5243,3324,2421,4524,146,29,Latin America & Caribbean,NaN,both
5890,Venezuela,VEN,2000,399,2820,479,1004,58,700,7857,339,1408,36,780,31963,3277,4985,206,2047,26,2181,8,16887,25,4363,4059,88,947,5408,3388,2502,4637,149,27,Latin America & Caribbean,NaN,both
5891,Venezuela,VEN,2001,374,2956,510,997,30,701,8659,353,1287,40,736,33055,3377,5068,207,2128,14,2109,8,17822,27,4577,4338,92,945,5627,3584,2639,4857,152,26,Latin America & Caribbean,NaN,both
5892,Venezuela,VEN,2002,346,3124,553,963,23,651,9063,342,1299,41,714,34905,3443,5025,204,2016,23,2104,8,19028,20,4888,4685,92,918,5568,3775,2756,5092,150,25,Latin America & Caribbean,NaN,both
5893,Venezuela,VEN,2003,365,3286,580,1037,38,694,10090,358,1372,44,773,36846,3849,5860,192,2071,36,2342,9,19915,25,5148,5091,94,993,5845,4011,2915,5362,166,25,Latin America & Caribbean,NaN,both
5894,Venezuela,VEN,2004,326,3415,571,828,29,638,9499,354,1542,44,755,35887,3596,5083,186,1940,50,1990,9,19650,31,5002,5058,87,795,5657,3912,2805,5174,159,24,Latin America & Caribbean,NaN,both
5895,Venezuela,VEN,2005,294,3573,596,694,36,595,9283,369,1585,43,720,36891,3562,4755,182,1835,44,1796,9,20463,30,5150,5279,81,665,5571,4035,2910,5328,170,23,Latin America & Caribbean,NaN,both
5896,Venezuela,VEN,2006,288,3727,638,627,48,573,9923,365,1663,49,699,39086,3690,4546,178,1852,35,1600,9,21913,22,5512,5688,79,602,5799,4233,3177,5723,155,21,Latin America & Caribbean,NaN,both
5897,Venezuela,VEN,2007,294,3877,675,588,58,574,10728,348,1738,60,683,40688,3904,4669,174,1919,12,1488,10,23102,3,5924,6065,80,566,6104,4407,3421,6060,160,20,Latin America & Caribbean,NaN,both
5898,Venezuela,VEN,2008,293,4053,714,559,38,584,11381,396,1739,70,686,42689,4115,4828,173,2003,17,1394,10,24417,1,6412,6521,85,537,6354,4588,3617,6369,168,19,Latin America & Caribbean,NaN,both
5899,Venezuela,VEN,2009,290,4206,731,523,55,567,12068,428,1861,73,677,43284,4287,5018,163,2027,9,1325,10,24932,10,6686,6730,85,503,6297,4639,3621,6403,171,18,Latin America & Caribbean,NaN,both
5900,Venezuela,VEN,2010,289,4370,716,493,72,564,12213,422,1941,70,668,41767,4327,5092,149,2051,67,1253,10,24352,0,6648,6650,80,475,6167,4539,3353,6083,170,18,Latin America & Caribbean,NaN,both
5901,Venezuela,VEN,2011,292,4554,745,472,67,558,12501,438,2234,72,663,42996,4509,5025,142,2110,29,1211,10,25140,1,7008,6924,78,455,6195,4725,3412,6224,177,18,Latin America & Caribbean,NaN,both
5902,Venezuela,VEN,2012,302,4714,782,461,75,563,13549,433,2251,81,676,44682,4747,5012,145,2248,22,1199,10,26388,0,7523,7361,81,444,6504,4957,3611,6526,186,18,Latin America & Caribbean,NaN,both
5903,Venezuela,VEN,2013,306,4856,797,458,134,562,13636,489,2165,84,677,44817,4897,4941,138,2310,12,1188,10,26771,0,7768,7560,82,440,6607,5048,3622,6590,188,19,Latin America & Caribbean,NaN,both
5904,Venezuela,VEN,2014,308,5074,841,480,136,568,13247,696,2182,95,708,46562,4967,4770,148,2380,0,1239,10,27936,1,8191,7925,87,460,6752,5285,3635,6762,192,20,Latin America & Caribbean,NaN,both
5905,Venezuela,VEN,2015,301,5276,879,490,223,569,13295,747,2155,102,730,48257,5018,4433,156,2436,0,1258,10,28869,1,8552,8291,88,469,6687,5506,3753,6989,194,20,Latin America & Caribbean,NaN,both
5906,Venezuela,VEN,2016,288,5535,928,502,291,551,12500,597,2070,96,731,50966,5094,4084,165,2356,0,1283,10,30209,14,9049,8769,84,481,6361,5813,3939,7307,191,20,Latin America & Caribbean,NaN,both
5907,Venezuela,VEN,2017,272,5789,973,511,423,532,11462,548,1956,93,749,53591,5154,3659,170,2282,0,1300,10,31186,28,9459,9157,82,489,6098,6105,4114,7595,189,20,Latin America & Caribbean,NaN,both
5908,Venezuela,VEN,2018,260,6036,1022,523,514,528,11198,550,1882,92,781,56164,5251,3414,175,2293,2,1334,11,32241,0,9897,9575,82,499,6096,6427,4307,7925,190,20,Latin America & Caribbean,NaN,both
5909,Venezuela,VEN,2019,254,6313,1119,552,667,524,10944,497,1850,90,826,61510,5555,3338,188,2310,0,1418,11,34771,0,10795,10405,82,527,6207,7062,4692,8601,196,21,Latin America & Caribbean,NaN,both

###  Venezuela is the country with missing values for 'Income group'. This is because Venezuela has been temporarily unclassified since July 2021 pending release of revised national accounts statistics. However, since the historical data for causes of death is from 1990 to 2019, I will replace the null values with Venezuela's most recent classification of 'Upper middle income'.

In [24]:
# Check value counts before replacement

df_merged['Income group'].value_counts()

High income            2010
Lower middle income    1620
Upper middle income    1590
Low income              780
Name: Income group, dtype: int64

In [25]:
# Replace NaN values in 'Income group' with 'Upper middle income' for Venezuela

df_merged['Income group'].fillna('Upper middle income', inplace = True)

In [26]:
# Recheck for missing values

df_merged.isnull().sum()

Country/Territory                             0
Code                                          0
Year                                          0
Meningitis                                    0
Alzheimer's Disease and Other Dementias       0
Parkinson's Disease                           0
Nutritional Deficiencies                      0
Malaria                                       0
Drowning                                      0
Interpersonal Violence                        0
Maternal Disorders                            0
HIV/AIDS                                      0
Drug Use Disorders                            0
Tuberculosis                                  0
Cardiovascular Diseases                       0
Lower Respiratory Infections                  0
Neonatal Disorders                            0
Alcohol Use Disorders                         0
Self-harm                                     0
Exposure to Forces of Nature                  0
Diarrheal Diseases                            0
Environmental Heat and Cold Exposure          0
Neoplasms                                     0
Conflict and Terrorism                        0
Diabetes Mellitus                             0
Chronic Kidney Disease                        0
Poisonings                                    0
Protein-Energy Malnutrition                   0
Road Injuries                                 0
Chronic Respiratory Diseases                  0
Cirrhosis and Other Chronic Liver Diseases    0
Digestive Diseases                            0
Fire, Heat, and Hot Substances                0
Acute Hepatitis                               0
Region                                        0
Income group                                  0
_merge                                        0
dtype: int64

In [27]:
df_merged['Income group'].value_counts()

High income            2010
Lower middle income    1620
Upper middle income    1620
Low income              780
Name: Income group, dtype: int64

### The 30 missing values have been changed to 'Upper middle income'. There are no more missing values.

### Duplicates Check:

In [28]:
# Find duplicates

df_dups = df_merged[df_merged.duplicated()]

In [30]:
df_dups.shape

(0, 37)

### There are no duplicates.

### Mixed-Type Data:

In [32]:
for col in df_merged.columns.tolist():
      weird = (df_merged[[col]].applymap(type) != df_merged[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_merged[weird]) > 0:
        print (col)

### There are no mixed-type columns.

### Check data types

In [33]:
df_merged.dtypes

Country/Territory                               object
Code                                            object
Year                                             int64
Meningitis                                       int64
Alzheimer's Disease and Other Dementias          int64
Parkinson's Disease                              int64
Nutritional Deficiencies                         int64
Malaria                                          int64
Drowning                                         int64
Interpersonal Violence                           int64
Maternal Disorders                               int64
HIV/AIDS                                         int64
Drug Use Disorders                               int64
Tuberculosis                                     int64
Cardiovascular Diseases                          int64
Lower Respiratory Infections                     int64
Neonatal Disorders                               int64
Alcohol Use Disorders                            int64
Self-harm                                        int64
Exposure to Forces of Nature                     int64
Diarrheal Diseases                               int64
Environmental Heat and Cold Exposure             int64
Neoplasms                                        int64
Conflict and Terrorism                           int64
Diabetes Mellitus                                int64
Chronic Kidney Disease                           int64
Poisonings                                       int64
Protein-Energy Malnutrition                      int64
Road Injuries                                    int64
Chronic Respiratory Diseases                     int64
Cirrhosis and Other Chronic Liver Diseases       int64
Digestive Diseases                               int64
Fire, Heat, and Hot Substances                   int64
Acute Hepatitis                                  int64
Region                                          object
Income group                                    object
_merge                                        category
dtype: object

## 4. Export Data

In [34]:
# Check shape

df_merged.shape

(6030, 37)

In [36]:
# Export data

df_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'merged_deaths_and_income.csv'), index = False)